extends layout
block content
    div.container
        div.content
            div.row
                h1 User List
            hr
            div.row
                table.table.table-hover.table-bordered
                    thead
                        tr
                            th Name
                            th Surname
                            th Birth
                            th E-Mail
                            th Process
                    tbody
                        each user, i in userList
                            tr
                                td #{user.name}
                                td #{user.lastname}
                                td #{user.birth}
                                td #{user.email}
                                td 
                                    a.btn.btn-danger.btn-xs(href="/users/delete/" + user._id) Delete User
                hr          
                div.row
                    div.col-md-12
                        a.btn.btn-default(href="/users/create") (Add New User)